<div class=" content">
  <div class=" row">
    <div class=" col-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Total Jobs Performance</h5>
              <h2 class=" card-title">  Vilnius</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                  Vilnius
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
              
              </div>
            </div>
        
          </div>
        </div>
        <div class=" card-body">
          <div  class=" chart-area"><canvas id="chart_line"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h2 class=" card-title">Vilnius Jobs Status </h2>
        </div>
        <div class=" card-body">
          <div style="height: auto;" class=" chart-area"><canvas id="PieChart"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class=" row">
    <div class=" col-lg-4"> 
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Jobs</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Jobs</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Completed Tasks</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 12,100K
          </h3>
        </div>           ET16_CTU        ET16T001 1301 0001 START 14-JAN-2020 11:54:13.00
       ET20_FAC        ET20T009 1201 0001 START 14-JAN-2020 09:19:31.00
       ET26_MMA        ET26T005 1301 0001 START 14-JAN-2020 07:18:23.00
       ET50_INV        ET50T001 1301 0001 START 14-JAN-2020 00:05:14.00


        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div> -->
  <div class=" row">
    
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Total Nmber of Jobs</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Job Name</th>
                  <th>Sub job Name</th>
                  <th >Start Time</th>
                  <th >End Time</th>
                  <th class=" text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ET00_EXT </td>
                  <td>ET00E006 </td>
                  <td>07-JAN-2020 07:17:04.00 </td>
                  <td >07-JAN-2020 08:20:33.00</td>
                  <td class=" text-center">ABORT</td>
                </tr>
                <tr>
                  <td> ET00_OPS </td>
                  <td>ET00TRFO </td>
                  <td>14-JAN-2020 00:05:14.00 </td>
                  <td > </td>
                  <td class=" text-center">START</td>
                </tr>
                <tr>
                  <td> ET10_OTH </td>
                  <td> ET00TRFT </td>
                  <td>14-JAN-2020 00:05:14.00</td>
                  <td > </td>
                  <td class=" text-center">START</td>
                </tr>
                <tr>
                  <td>  ET16_CTU  </td>
                  <td> ET16T001 </td>
                  <td>13-JAN-2020 21:05:11.00</td>
                  <td >13-JAN-2020 21:06:20.00</td>
                  <td class=" text-center">COMPL </td>
                </tr>
                <tr>
                  <td> ET20_FAC  </td>
                  <td>ET20T009 </td>
                  <td>14-JAN-2020 00:05:13.00 </td>
                  <td >14-JAN-2020 01:01:44.00</td>
                  <td class=" text-center">COMPL</td>
                </tr>
                <tr>
                  <td>  ET26_MMA  </td>
                  <td>ET26T005 </td>
                  <td>07-JAN-2020 07:17:04.00 </td>
                  <td >07-JAN-2020 08:20:33.00</td>
                  <td class=" text-center">ABORT</td>
                </tr>
                <tr>
                  <td> ET50_INV  </td>
                  <td>ET50T001 </td>
                  <td>07-JAN-2020 07:17:04.00 </td>
                  <td >07-JAN-2020 08:20:33.00</td>
                  <td class=" text-center">ABORT</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>