<div class=" content">
    <div class=" row">
        <div class=" col-lg-12 col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Total Nmber of Incidents</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>PS Id</th>
                                    <th>IMDB</th>
                                    <th>Ty</th>
                                    <th>Technical Impact</th>
                                    <th>Workview Comment</th>
                                    <th>Status</th>
                                    <th>Debrief Status</th>
                                    <th>Prio</th>
                                    <th>Severity</th>
                                    <th>Solving Team</th>
                                    <th>Root Cause Team</th>
                                    <th>Service Mgt Domain</th>
                                    <th class=" text-center">Incident Start date
                                    </th>
                                    <th>Tech. impact End date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data">
                                    <td>{{item.PS_Id}}</td>
                                    <td>{{item.IMDB}}</td>
                                    <td>{{item.Ty}}</td>
                                    <td>{{item.Technical_Impact}}</td>
                                    <td>{{item.Workview_comment}}</td>
                                    <td>{{item.Status}}</td>
                                    <td>{{item.Debrief_Status}}</td>
                                    <td>{{item.Prio}}</td>
                                    <td>{{item.Severity}}</td>
                                    <td>{{item.Solving_Team}}</td>
                                    <td>{{item.Root_Cause_Team}}</td>
                                    <td>{{item.Service_Mgt_Domain}}</td>
                                    <td>{{item.Incident_Start_date}}</td>
                                    <td>{{item.Tech_impact_End_date}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>